

:root{
    --primary-color: #FF04B9;
    --secondary-color:#F5F5F5;
    --white-color:#ffffff;


    /* font-size */
    --font-navbar:24px;

    /* font-weight */
    --font-weight-navbar:700

    /* font-family */
    --primary-font:'Source Sans Pro',sans-serif;
}