
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
:root{
    --primary-color:#df0070;
    --secondary-color: #FF04B9;
    --tertiary-color:#412433;

    --font-nav-color:#2c2c2c;
    --white-color:#ffffff;
    --nav-background-color:#f9f9f9;
    --case-border-color:#e4e4e4;
    --footer-separator-color:#D9D9D9;
    --footer-copyrights-color:#808080;
    --testimonials-background:#F5F5F5;
    --testimonials-content:#000;

    /* font-size */
    --font-navbar:20px;
    --font-contact:24px;

    /* font-weight */
    --font-weight-navbar:600;

    /* font-family */
    --primary-font:'Source Sans Pro',sans-serif;
    --secondary-font: 'WorkSans',sans-serif;

    /* Mobile Fonts */
    --primary-font-mobile: 2.4rem;
    --secondary-font-mobile: 1.8rem;
    --tertiary-font-mobile: 1rem;
    --servicesTitle-font-mobile: 2rem;
    --servicesContent-font-mobile: 1.6rem;

    /* Desktop Fonts*/
    --homescreen-font-desktop: 6rem;
    --primary-font-desktop: 3rem;
    --secondary-font-desktop: 1.8rem;
    --tertiary-font-desktop: 1rem;
    --servicesTitle-font-desktop: 2rem;
    --servicesContent-font-desktop: 1.6rem;


}