@import url('constants.css');

@media  (max-width :768px) {

body{
    width:100% !important;
    background-color: var(--white-colour) !important;
}

.LandingPage{
    
    min-height:100vh;
}

.mobileBanner{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:100%;
}
.banner{
    display:none ;
}
.bannercontents{
    font-size: 3.5rem;
}

/* ---------------------------- case studies  -------------------------*/
.desktopCase{
    display:none;
}
.mobileCase{
    /* display:flex; */
}

}