

@media  (max-width :768px) {

body{
    /* width:310% !important; */
    background-color: var(--white-colour) !important;
}

.LandingPage{
    min-height:100vh;
}

.mobileBanner{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:100%;
    
}
.banner{
    display:none ;
}

}